extends layout

block content
    h1 Create new question space
    p Click the button below to create new question space.
    form(target="_self", method="get" id="form")
    button(name="create" form="form" id="btn-create" value="true") Create
    