extends layout 

block content 
    h1= "New question wall created successfully!"
    h3= `Your UUID is ${uuid}`
    h3= `Your password is ${pass}`
    h2= "SAVE THESE CODES NOW. You'll need to share your UUID to others for them to be able to send you messages. You'll need your password to login and view the messages you got."