extends layout

block content
  h1 ngl copy
  h2 Welcome to my ngl.link copy
  p 
    a(href="/create") Create your own link     
    br
    a(href="/view") View your messages     
    br
    a(href="/send") Send your own anonymous message     
